@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "nav-bar.css";
@import "header.css";
@import "user-component.css";
@import "badge.css";

body
{
   font-family: 'Nanum Gothic', sans-serif;

}

.user-component__subtitle
{
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.chat-time
{
  display: block;
}

.user-component__comlumn:last-child
{
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatroom
{
  text-decoration: none;
  color: black;
}
