@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "nav-bar.css";
@import "header.css";
@import "user-component.css";
@import "badge.css";
@import "icons.css";
@import "header_addition.css";
body
{
   font-family: 'Nanum Gothic', sans-serif;
   background-color: #abc1d1;
   height: 1100vh;

}


.status-bar
{
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
}


.main-screen
{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.main-screen-time
{
  color: white;
  background-color:#92a4b2;
  font-size: 13px;
  border-radius: 30px;
  padding: 9px;

}

.main-screen-message-other,.main-screen-message-me
{
  width: 100%;
  display: flex;
  margin-top: 80px;
}

.main-screen-message-me
{
  justify-content: flex-end;
}

.main-screen-message-me span:first-child
{
  background-color: var(--yellow);
  border-top-right-radius: 0px;
}

.main-screen-message
{
  width: 100%;
}

.main-screen-message-chatbox
{
display: flex;
align-items: flex-end;
}

.main-screen-message-time
{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;

}

.main-screen-message-profile
{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.main-screen-message-text
{
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.main-screen-message-name
{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
