@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "nav-bar.css";
@import "header.css";
@import "user-component.css";

body
{
   font-family: 'Nanum Gothic', sans-serif;

}

#firends-display__link
{

text-align: center;
display: block;
position: relative;

background-color: rgba(0, 0, 0, 0.1);
padding: 9px 0px;
color: rgba(0, 0, 0, 0.8);
margin-bottom: 10px;
margin-top: -15px;

}


#firends-display__link i
{

color: rgba(0, 0, 0, 0.2);

}

.friends-screen
{
  padding: 0px 25px;
}


.friends-screen__channel
{
  margin-top: 25px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header
{
  margin-bottom:30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
