.screen-header
{
display: flex;
position: relative;
top: 40px;
justify-content: space-between;
align-items: center;

}

.screen-header__title
{
  font-weight: 800;
  margin-left: 10px;
  font-size: 20px;
}

.screen-header__btn
{
margin: 0px 10px;
}
