.screen-header
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;


}

.screen-header__title
{
  font-weight: 800;

  font-size: 20px;
}

.screen-header__btn
{
  margin-left: 15px;
}

.screen-header__btn i:hover
{
  animation: 5s ease-in-out spin-btn infinite;
}

.screen-header__btn a
{
  text-decoration: none;
  color: black;
}

@keyframes spin-btn
{
  0%
  {
    transform: none;
  }
  50%
  {
    transform: rotateY(360deg);
  }
  100%
  {
    transform: none;
  }
}
