.screen-header
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;


}

.screen-header__title
{
  font-weight: 800;

  font-size: 20px;
}

.screen-header__btn
{
  margin-left: 15px;
}
