@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";

body
{
   font-family: 'Nanum Gothic', sans-serif;
}
