@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";

body
{
   font-family: 'Black Han Sans', sans-serif;

 }
