
.status-bar
{

display: flex;

background-color: rgba(0, 0, 0, 0.1);

justify-content: center;

padding: 5px;
align-items: center;


}

.status-bar__column
{
  width: 33%;
}


.status-bar__column:first-child span
{
  margin-right: 5px;

}

.status-bar__column:nth-child(2)
{
  display: flex;
  justify-content: center;

}


.status-bar__column:last-child
{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.fa-battery-full
{
  margin: 0px 5px;
}
