.user-component
{
  display: flex;
  justify-content: space-between;

}

.user-component__comlumn
{
  display: flex;
  align-items: center;

}

.main-screen
{
  padding: 0px 25px;

}


.user-component__img-xl
{
  border-radius: 30%;
  width:80px;
  height: 80px;
  margin-right: 20px;

}


.user-component__img
{
  border-radius: 40%;
  width:60px;
  height: 60px;
  margin-right: 20px;

}


.user-component__text
{
  font-weight: 800;
}

.user-component__img-sm
{
  border-radius: 50%;
  width:50px;
  height: 50px;
  margin-right: 20px;
}

.user-component__name-not-bold
{
    font-weight: 700;
}


.user-component__comlumn:last-child
{
  color: rgba(0, 0, 0, 0.5);
}
